.banner-title {
  font-family: "Julee";
  font-size: 3em;
  padding: 0px 15px;
}

.banner-subtitle {
  font-family: "Just Me Again Down Here";
}

.post-title, .category-title, .tag-title, .sidebar-title {
  font-family: "Arvo", serif;
}

.post-date {
  color: rgb(125, 125, 125);
  font-size: 1.0rem;
  font-style: italic;
  margin-right: 1em;
}

.post-meta {
  margin-bottom: 1.5em;
}

.post-content {
  margin-bottom: 1.5em;
}

.toc {
  position: fixed;
  display: block;
}

.sidebar {
  color: #4b4b4b;
  text-shadow: #fff 0 1px;
}

.author-about {
  margin-top: 1em;
  margin-bottom: 1em;
}

.social-links {
  font-size: 1.5em;
}

#footer {
  margin: 1em;
}

aside section {
  margin-bottom: 2em;
}

h2, h3, h4, h5 {
  margin-top: 1.0em;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4, h5 {
  font-size: 15px;
}

body {
  font-size: 15px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 15px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
  color: #3F3F44;
  background-color: #f5f5f7;
  border-radius: 4px;
}

pre[class*="language-"] {
  margin-bottom: 1.0em;
}
